:root{
    --primary:#2d88ff;
    --dark:#18191a;
    --semi-dark:#242526;
    --soft-dark:#3a3b3c;
    --danger:#f02849;
    --success:#44b960;
    --warning:#dda728;
    --text:#b7b9bd;
    --lightcolor:#ffffff;


}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--text);
}


body{
    background-color: var(--dark);

}
.nav{
    background-color: var(--semi-dark);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    

}
.left{
    width: 25%;
    display: flex;
    justify-content: left;
    position: absolute;
    left: 0;
    background-color: var(--semi-dark);

}
.left-box{
    display: flex;
    padding: 10px;
}
.fb-logo{
    width: 40px;
    margin-right: 10px;

}
.search-box{
    background-color: var(--soft-dark);
    border-radius: 110px;
    overflow: hidden;
    
    display: flex;
    align-items: center;
    

}
.search-box .feather-search{
    margin-left: 12px;
    margin-right: 10px;
    /* padding-top: 30px; */

}
.search-input{
    color: var(--text);
    background-color: var(--soft-dark);
    border: none;
    margin-left: 3px;
   /* padding-top: 10px; */
    
    

}
.search-input:focus{
    outline: none;
}
.center{
    width: 50%;
    display: flex;
    justify-content: center;
    position: absolute;

}
.center-box{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

    
}
.center-link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 115px;
    border: 2px solid var(--semi-dark);
    position: relative;
    cursor: pointer;
    


}
.center-link.act{
   
    
    border-bottom-color: var(--primary) ;
    border-radius: 0px;

    


}
.center-link.act:hover{
    
    background-color: var(--semi-dark);
    border-radius: 0px;
    
    
}
.center-icon.act{
    color: var(--primary) !important;
    

}

.center-icon{
    
    font-size: 25px;
    

}
.center-link .noti{
    top: 6px;
    font-weight: bolder;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 14px;
    left: 63px;
    background-color: var(--danger);
    position: absolute;
    border-radius: 50%;
    color: var(--lightcolor);
    

}
.center-link::after{
   

}

.center-link:hover{
    background-color: var(--soft-dark);
    border-radius: 15px;
}
.right{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;


}
.right-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    

}
.yair{
    color: var(--lightcolor);
    
    padding-left: 6px;
    
    
    padding-right: 16px;
}


.my_profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    
}

.profile:hover{
    background-color: var(--soft-dark);
    
    border-radius: 25px;
}

.right-noti-box{
    display: flex;
    
    
    justify-content: center;
    align-items: center;
   
}
.right-notification{
    background-color: var(--soft-dark);
   margin: 5px;
   height: 40px;
   width: 40px;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.right-notification .noti{
    top: 1px;
    font-weight: bolder;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 14px;
    left: 29px;
    background-color: var(--danger);
    position: absolute;
    border-radius: 50%;
    color: var(--lightcolor);

}

/* fbbody */
.fb-body{
    padding-top: 60px;
    display: flex;
    width: 100%;
    overflow: hidden;
   
}
.left-aside{
    width: 25%;
    position: relative;
    overflow: scroll;
    height: 100vh;
    padding-right: 20px;
     /* position: fixed; */
    

}
.left-aside::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.all-image{
    width: 30px;
    height: 30px;
    margin: 5px 10px;

}
.menu-left-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    
    
    
    
}
.left-top-each{
    
    padding: 7px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    cursor: pointer;
    
    /* position: absolute; */
}
.left-top-each span{
    color:var(--lightcolor);
}
.left-top-each:hover{
    background-color: var(--soft-dark);
    border-radius: 15px;
}
.news-feed{
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    /* position: absolute;
    
    left: 17%; */
   
    
  
    /* margin-left: 150px;
    margin-right: 130px; */
    
    overflow: scroll;
    height: 100vh;
    padding-right: 20px;
    
    
    
    
    

}
.news-feed::-webkit-scrollbar {
    
    display: none;
    
    /* for Chrome, Safari, and Opera */
}
.my-day-list{
    display: flex;
    position: relative;
    
    margin-top: 25px;
    
    
    justify-content: center;
    flex-direction: row;
    
    

}
.my-day{
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--semi-dark);
    
    border-radius: 20px;
    margin: 0px 4px;
    overflow: hidden;
    height: 220px;
    


}

.main-myday-me{
    width: 130px;height: 180px; border-top-left-radius: 15px; border-top-right-radius:15px ;
}
.main-myday-me:hover{
    transform: scale(1.03);
    transition-duration: 0.3s;
    filter: brightness(0.8);
    cursor: pointer;

}
.my-day-photo:hover{
    transform: scale(1.03);
    transition-duration: 0.3s;
    filter: brightness(0.8);
    cursor: pointer;
    
    
}
.my-day-photo{
    background-size: cover;
    width: 130px;
    height: 230px;
  
   border-radius: 15px;
   
}
.my-day-add{
    top: 160px;
    width: 40px;
    border: 4px solid var(--semi-dark);
    border-radius: 50%;
    background-color: var(--lightcolor);
    position: absolute;

}
.my-day-name{
    
    font-weight:bold;
    position: absolute;
    padding: 10px;
    top: 190px;
    left: 0px;
    
    font-size: 12px;
    color: var(--lightcolor);
    text-shadow: 1px 1px var(--semi-dark);

}
.my-day-owner{
    border: 4px solid var(--primary);
    left: 10px;
    top: 10px;
    position: absolute;
    width: 40px;
    border-radius: 50%;
    
}
.see-all-myday{
    position: absolute;
    right: -20px;
    top: 40%;
    cursor: pointer;
    z-index: 1;

    
}
.tooltip-myday{
    position: relative;
    display: inline-block;
    transition-delay: 0.5s;
    
    
}
.see-all-myday .tooltip-myday{
    visibility: hidden;
    width: 120px;
    background-color: var(--text);
    color: var(--soft-dark);
    text-align: center;
    border-radius: 6px;
    padding: 1px;

    /* Postion the tooltip */
    position: absolute;
    
    cursor: pointer;
    
    top: 110%;
    left: -80%;
}
.see-all-myday:hover .tooltip-myday{
    visibility: visible;
   
    
    cursor: pointer;
    
    
}
.feather-arrow-right:hover{
    background-color: var(--soft-dark) !important;
    
}
.most-recent{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    
    
    padding: 30px 0px;
   
}
.most-recent h4{
   
}
.most-recent-div{
    display: flex;
    justify-content: left;
    
    position: absolute;
    left: 0;

}
.most-recent span{
    color: var(--primary);
    
    
    
}
.back-to-top-postion{
    display: flex;
    justify-content: right;
    right: 0;

    position: absolute;
    
    

}
.add-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--semi-dark);
    border-radius: 7px;
    padding-top: 3.5%;
    
    
    border: 2px solid;
    border-color: rgb(15, 15, 15);
    border-top: var(--dark);
    border-bottom: var(--dark);
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
    
    

}
.what-mind{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: row;
   
   
   
    
    
    
    
    
   
}
.what-me{
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    
   
    
    
}
.what-me-div{
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 15px;
    
    position: absolute;
    
    
}
.what-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    /* background-color: var(--soft-dark); */
    
   
    
    
}

.what-text-div{
    
    display: flex;
    justify-content: left;
    align-items: center;
    top: 10px;
    
    border-radius: 20px;
    right: 10px;
    left: 65px;
   
    /* width: 89%; */
    position: absolute;
    background-color: var(--soft-dark);
    height: 40px;
   
}
.option-post{
    
    position: relative;
    top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: red;
    

}
.live{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50px;
    
    margin-bottom: 30px;



}
.photo-video{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    margin-bottom: 30px;
    

}
.feelings{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 40px;
    margin-bottom: 30px;
    


}
.option-post span{
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bold;
   
    
   
}
.room{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
    padding: 30px 0px;
    width: 100%;
    background-color:var(--semi-dark);
    border-radius: 7px;
    border: 3px solid ;
    overflow: hidden;
   
    border-color: var(--semi-dark) rgb(15, 15, 15) var(--semi-dark) rgb(15, 15, 15);
    
    
}
.room-icon-pos{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
   border: 0.5px solid var(--primary);
   border-radius: 60px;
    
}
.create-room-text{
    display: flex;
    justify-content: center;
    align-items: center;
   color: var(--primary);
   padding-right: 10px;
   font-weight: bold;

}
.room-ppl-pos{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 350px;
    right: 30px;
    

}
.room-ppl-pos .chat-ppl{
    margin-left: 15px;
    
    

}
.room-ppl-pos .active{
    margin-left: -8px ;
    margin-top: 30px !important;
    width: 10px;
    border: 1px solid var(--soft-dark);
    border-radius: 50%;
}

.room-arrow-pos{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
}
.room-arrow{
    font-size: 2.5em;
    background-color: var(--soft-dark);
    border-radius: 50%;
    


}









/* prost in newfeed */

.post-list{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.post{
 
    display: flex;
    flex-direction: column;
    display: flex;
    margin-top: 15px;
    height: max-content;
    padding-bottom: 28px;
    /* height: 660px; */
    /* position: absolute; */
    width: 100%;
    position: relative;
   
    background-color: var(--semi-dark);
    border: 2px solid;
    border-color: var(--semi-dark) rgb(15, 15, 15) var(--semi-dark) rgb(15, 15, 15);
   
    border-radius: 8px;
    
}

.post-profile-pos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* position: relative; */
    padding-bottom: 70px;

    
    
}
.profile-image-pos{
    position: absolute;
    top: 15px;
    left: 15px;
    
}
.profile-image-pos .active{
    position: absolute;
    margin-left: -11px;
    margin-top: 33px;

}
.profile-name-pos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 2px;

}
.name-pos{
    position: absolute;
    left: 69px;
    top: 15px;
    font-size: 20px;
    
}
.date-status-pos{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   
}
.date-time{
    position: absolute;
    left: 69px;
    top: 35px;
    width: 130px;
}
.privacy{
    position: absolute;
    left: 205px;
    top: 37px;
}
.post-options-pos{
    position: absolute;
    top: 17px;
    right: 25px;
    
}
.caption-pos{
    position: relative;
    /* position: absolute; */
    left: 25px;
    padding-bottom: 30px;
    

}
.caption{
    color: var(--lightcolor);
    font-size: 14px;
    position: absolute;

}
.post-img-pos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: absolute; */
    height: fit-content;
    top:20%;
    padding-bottom: 30px;
    
    

}

.reactions-section{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position:absolute; */
    padding-bottom: 30px;
}
.reactions-pos{
    
    position: absolute;
    left: 19px;
    display: flex;
    justify-content: center;
    align-items: center;    
    
}
.comments-pos{
    position: absolute;
    right: 20px;
   
}
.icon-section-position{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    width: 100%;
   
   
}

.like-icon{
    position: absolute;
    left: 15%;
}
.comment-icon{
    position: absolute;
    left: 42%;
}
.share-icon{
    position: absolute;
    left: 75%;
}
.like-comm-share{
 padding: 5px;
 font-weight: bold;
   

    
    

}
.post-hr-pos{
    padding-bottom: 30px !important;
    
}
.post-hr-pos hr{
    position: absolute;
    
}
























.chat-box{
    width: 25%;
    position: relative;
    
    display: flex;
    justify-content: center;
    /* position: fixed; */
    right: 0;
    overflow: scroll;
    height: 100vh;
    padding-right: 20px;
    padding-left: 40px;
    
    
   
    
   
    

}
.chat-box::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.page-header{
    /* left: 100px; */
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 20px;
  
    
    padding: 10px 0px;
    position: relative;
   


}
.chat-right-all{
    /* display: flex;  beacuse there is still not enough people in chat-pannel.. post height is taking 
    space so disply:flex; making a gap on top and bottom duhhh*/
    flex-direction: column;
    justify-content: center;
    
    

}
.page-profile-fri-pos{
    position: absolute; right: 20px;
  
}
hr{
    margin-left: 7px;
    width: 335px;
    /* height:1px;border:none;color:#333;background-color:#333; */
    height: 1px;
    border: none;
    /* color: rebeccapurple; */
    background-color: var(--soft-dark);
}
h4{
    margin-left: 1px;
}
.friend-request{
    display: flex;
    position: absolute;
    top: 38px;
    padding: 5px 0px;
   
}
.btn-fri{
    
    width: 130px;
    
    height: 30px;
    margin-right: 5px;
    border-radius: 7px;
    text-align: center;
    color: var(--lightcolor);
    border: hidden;
    cursor: pointer;
   
    
}
.friend{
    display: flex;
    align-items: center;
    margin-left: 0px;
    margin-top: 16px;
    
    
  
    
    padding: 10px 0px;
    position: relative;
    padding-bottom: 30px;

}
.mutual{
    font-size: 13px;
}
.friend:hover{
    background-color: var(--semi-dark);
    cursor: pointer;
   
    border-radius: 15px;
    
    
    
    
    
}
.video-search-more{
    padding: 0px 10px; position: absolute; right: 1px;
}
.others-birthdays{
    position: absolute; left:60px !important ; right: 0px !important;
}
.chat-panel{
    
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: 10px;
}
.one-ppl{
    display: flex;
    padding: 8px 0px;
    align-items: center;
    

}
.chat-ppl{
    width: 38px;
    border-radius: 50%;
    top: 0px;
   
}
.chat-name{
    color: var(--lightcolor);
    margin-left: 20px;
    
    
}
.active{
    margin-left: -8px;
    margin-top: 30px;
    width: 10px;
    border: 1px solid var(--soft-dark);
    border-radius: 50%;
}
.offline{
    margin-left: -21px;
    
    margin-top: 30px;
    background-color: #0e3f1a;
    color: rgb(128, 207, 10);
    font-size: 10px;
    border-radius: 12px;
    padding: 1px 3px;
    
}
.extra1{
    display: none;
}
.extra2{
    display: none;
}
@media screen and (max-width:1350px){
    
   
    .left{
       
        position: absolute !important;
        left: 0 !important;
    }
    .search-input{
        display: none;
    }
    .right{
      margin-right: 120px !important;
      padding-right: 300px;
    }
    .fb-body{
        display: flex;
        justify-content: center;
        width: 109% !important;
        padding-right: 100px;
       
    }
    .nav{
        width: 109%;
      
        padding-right: 100px;
        background-color: var(--semi-dark) !important;
       

    }
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 140px !important;
        margin-left: -100px !important;
        
        
    }
    .news-feed{
       
        
        margin-left: 100px;
        margin-right: 100px ;
        
        
    }
    
    .left-aside{
        display: none;
    }
   
   
    
    .chat-box{
       
    }
    .center-link .noti{
        top: 6px;
        font-weight: bolder;
        padding-left: 4px;
        padding-right: 4px;
        font-size: 14px;
        left: 50px;
        background-color: var(--danger);
        position: absolute;
        border-radius: 50%;
        color: var(--lightcolor);
        
    
    }
    .others-birthdays{
        
         /* left:160px !important;  */
         right: 90px !important;
    }
   
    

}
@media  screen and (max-width:1294px) {
    .others-birthdays{
       
         right: 90px !important;
      
    }
    
}
@media  screen and (max-width:1254px) {
    .others-birthdays{
      
        right: 90px !important;
      
    }
    .chat-box{
       
    }
    
}
@media  screen and (max-width:1214px) {
    .others-birthdays{
        left:80px !important; right: 90px !important;
      
    }
    .extra1{
        display: block;
       
    }
    .extra2{
      display: none;
    }
    
}
@media screen and (max-width:1203px) {
    .page-profile-fri-pos{
        margin-right: 50px;
    }
    .video-search-more{
        margin-right: 50px;
    }
    .friend span{
        margin-right: 70px;
    }
    .friend h5{
        font-size: 11.6px !important;
    }
    .btn-fri{
        width: 100px !important;

    }
    .mutual{
      
        font-size: 11px !important ; padding: 1px 0px;
    }
    .others-birthdays{
        left:80px !important; right: 90px !important;
      
    }
    
    
}
@media screen and (max-width:1160px){
    .others-birthdays{
        /* left:100px !important; */
         right: 90px !important;
      
    }
}
@media screen and (max-width:1130px){
    .others-birthdays{
        left:90px !important; right: 90px !important;
      
    }
}


@media screen and (max-width:1100px){
    .center{
       
    }
    .btn-fri{
        width: 90px !important;

    }
    .friend span{
        margin-right: 100px !important;
    }
    .friend h5{
        font-size: 8.3px !important;
    }
    .mutual{
        font-size: 8px; padding: 1px 0px;
    }

    .left{
       
        position: absolute !important;
        left: 0 !important;
    }
    .search-input{
        display: none;
    }
    .right{
      margin-right: 100px !important;
    }
    .fb-body{
        display: flex;
        justify-content: center;
        width: 109% !important;
       
    }
    .nav{
        width: 109%;
      
        
        background-color: var(--semi-dark) !important;

    }
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 240px;
        
        
    }
    .right-noti-box{
        margin-right: 50px !important;
    }
    .news-feed{
        width: 60%;
        margin-right: 30px !important;
    }
    .left-aside{
        display: none;
    }
   
   
    
    .chat-box{
        /* margin-right: 50px !important; */
        width: 40% !important;
    }
    .center-link .noti{
        top: 6px;
        font-weight: bolder;
        padding-left: 4px;
        padding-right: 4px;
        font-size: 14px;
        left: 50px;
        background-color: var(--danger);
        position: absolute;
        border-radius: 50%;
        color: var(--lightcolor);
        
    
    }
    .others-birthdays{
        /* left:60px !important;  */
        right: 90px !important;
      
    }
  
    

}
@media screen and (max-width:1084px) {
    .page-profile-fri-pos{
        margin-right: 70px;
    }
    .video-search-more{
        margin-right: 70px;
    }

    .mutual{
        display: none;
    }
    .friend h5{
        font-size: 13px !important;
        
        
    }


    .friend span{
        margin-right: 170px !important;
        margin-left: 50px !important;
    }
    
    
}

@media screen and (max-width:1020px){
    .fb-body{
        display: flex;
        justify-content: center;
        width: 109% !important;
       
    }
   
    
    .right{
        display: none;
    }
    .left-aside{
        display: none;
    }
    .right-box{
        display: none;
    }
    .nav{
        width: 109%;
        
        background-color: var(--semi-dark) !important;

    }
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 250px !important;
        
        

    }
    .search-input{
        display: none;
    }
    .news-feed{
        width: 100%;
        /* margin-right: 123px !important; */
      
    }
    .left-aside{
        display: none;
    }
   
   
    
    .chat-box{
        display: none;
    }
    .center-link .noti{
        top: 6px;
        font-weight: bolder;
        padding-left: 4px;
        padding-right: 4px;
        font-size: 14px;
        left: 50px;
        background-color: var(--danger);
        position: absolute;
        border-radius: 50%;
        color: var(--lightcolor);
        
    
    }
   
    

}
@media screen and (max-width:808){
    .nav{
        width: 100%;
        
    }
    .extra1{
        display: block !important;
    }
    .extra2{
        display: none !important;
    }
    .center{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
        margin-right: 100px;
    }
    .news-feed{
        width: 100%;
    }
    .left-aside{
        display: none;
    }
    .left{
        display: none;
    }
    
    .right-box{
        display: none;
    }
    .chat-box{
        display: none;
    }
    .center-link .noti{
        top: 6px;
        font-weight: bolder;
        padding-left: 4px;
        padding-right: 4px;
        font-size: 14px;
        left: 50px;
        background-color: var(--danger);
        position: absolute;
        border-radius: 50%;
        color: var(--lightcolor);
        
    
    }
   
    

}
@media screen and (max-width:782){
    .nav{
        width: 100%;
        
    }
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
        margin-right: 100px;
        
        width: 100%;
    }
    .news-feed{
        width: 100%;
        
    }
    .left-aside{
        display: none;
    }
    .left{
        display: none;
    }
    .right-noti-box{
        display: none;
    }
    .right-box{
        display: none;
    }
    .chat-box{
        display: none;
    }
    .center-link .noti{
        top: 6px;
        font-weight: bolder;
        padding-left: 4px;
        padding-right: 4px;
        font-size: 14px;
        left: 45px;
        background-color: var(--danger);
        position: absolute;
        border-radius: 50%;
        color: var(--lightcolor);
        
    
    }
   
    

}
@media screen and (max-width:630px){
    .nav{
        width: 100%;
        
    }
    .center{
        width: 100%;
    }
    .news-feed{
        width: 100%;
    }
    .left-aside{
        display: none;
    }
    .left{
        display: none;
    }
    .right-box{
        display: none;

    }
   
    .chat-box{
        display: none;
    }
    

}
@media screen and (max-width:1601px) {
    .news-feed{
        margin-left: 100px;
        margin-right: 100px;
    }
    
}


